@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&subset=cyrillic');
html,body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
#map {
    width: 100%;
    height: 100%;
}
div {
    box-sizing: border-box;
}

.balloon_layout{
    width: 380px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #c9c9c9;
    background-color: #fff;

}

.block {
    width: 100%;
    height: 100%;
}

.block__header {
    width: 100%;
    background-color: #ff8663;
    padding: 15px 20px;
    color: #fff;
    font-family: "Fira Sans";
    font-weight: 300;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head-marker {
    margin-right: 3px;
}
.close-b {
    cursor: pointer;

}

.block__content {
    padding: 5px 15px;
}

.block__comment {
    width: 100%;


    border-bottom: 1px solid #c9c9c9;
}
.list {
    height: 155px;
    padding-bottom: 5px;
    overflow: auto;
}

.list::-webkit-scrollbar-track {border-radius: 2px;}
.list::-webkit-scrollbar {width: 4px;}
.list::-webkit-scrollbar-thumb {border-radius: 2px;background: transparent;}
.list:hover::-webkit-scrollbar-thumb {background: #7f7f7f;}

.form__list {
    width: 100%;
    margin-bottom: 10px;

}

.form__label {
    font-size: 16px;
    color: rgb(255,134,99);
    font-family: "Fira Sans";
    font-weight: 500;
    padding: 10px;
    text-transform: uppercase;
}

.form__select, .form__input, .form__area{
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #c9c9c9;
    padding: 8px 10px;
    outline:none;
}

.form__select {
    border-radius: 5px;
    background-color: rgba(201,201,201,.3);
}
.form__area {
    height: 85px;
    resize: none;
}

.form__select:focus, .form__input:focus, .form__area:focus {
    border: 1px solid #ff8663;
}

.form__button {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button {
    padding: 8px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    color: #fff;
    cursor: pointer;
}

.remove {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.remove:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

.add {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.add:hover {
    background-color: #449d44;
    border-color: #398439;
}

.disabled {
    opacity: 0;
    cursor: default;
}

.header-adress {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
}

.header-adress:hover {
    color: #ac2925;
}

.list-t {
    overflow: auto;
    height: 150px;
}